$black: #000000;
$grey1: #6E6E6E;
$grey2: #C8C8C8;
$grey3: #F1F1F1;
$white: #FFFFFF;
$error: #D92C2C;
$success: #007E06;
$blueProduct: #106DA2;
$brownProduct: #AE6D0C;
$blackProduct: #444444;
$grey2: #C8C8C8;