@font-face {
  font-family: Helvetica;
  src: url(../fonts/helvetica_regular.otf);
}
.shadow1 {
  background-color: #000000;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}

.bold {
  font-weight: 700;
}

.color-error {
  color: #D92C2C;
}

.ruble {
  font-weight: 400;
}

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.header {
  border-bottom: 0.5px solid #C8C8C8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.top-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 4.5rem;
}

.nav-menu__link,
.breadcrumbs-items__link {
  text-decoration: none;
  color: #000000;
}

.nav-menu {
  display: flex;
  font-size: 0.875rem;
}

.nav-menu__link:not(last-child) {
  padding-right: 2.5rem;
}

.top-header__logo {
  display: flex;
  justify-content: center;
}

.top-header__right {
  display: flex;
  justify-content: flex-end;
}

.top-header__right-item:not(last-child) {
  padding-right: 2rem;
}

.top-header__search::before {
  content: url(../icons/searchOff.png);
  transition: 0.3s;
}

.top-header__search:hover::before {
  content: url(../icons/searchOn.png);
  transition: 0.3s;
}

.top-header__accaunt::before {
  content: url(../icons/accauntOff.png);
  transition: 0.3s;
}

.top-header__accaunt:hover::before {
  content: url(../icons/accauntOn.png);
  transition: 0.3s;
}

.top-header__favorites::before {
  content: url(../icons/heartWithNumberOff.png);
  transition: 0.3s;
}

.top-header__favorites:hover::before {
  content: url(../icons/heartWithNumberOn.png);
  transition: 0.3s;
}

.top-header__bag::before {
  content: url(../icons/bagWithNumberOff.png);
  transition: 0.3s;
}

.top-header__bag:hover::before {
  content: url(../icons/bagWithNumberOn.png);
  transition: 0.3s;
}

.breadcrumbs-items {
  margin: 3.125rem 0;
}

.breadcrumbs-items__link {
  font-size: 0.75rem;
}

.breadcrumbs-items__link {
  color: #6E6E6E;
}

.breadcrumbs-items__link:not(last-child) {
  padding-right: 0.6rem;
}

.breadcrumbs-items__link::after {
  content: "/";
  width: 4px;
  height: 15px;
  color: #6E6E6E;
  font-size: 0.75rem;
  padding-left: 0.9rem;
}

.breadcrumbs-items__link--active {
  color: #000000;
}

.breadcrumbs-items__link--active::after {
  content: "";
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.order-header {
  display: flex;
}

.order-header__h1 {
  padding-right: 1.25rem;
  font-size: 2.5rem;
  font-weight: 400;
}

.order-header__is-accaunt {
  padding-right: 5px;
  font-size: 0.875rem;
  color: #6E6E6E;
}

.order-header__enter {
  font-size: 0.875rem;
}

.order-total {
  max-width: 400px;
  max-height: 574px;
  border: solid 1px #6E6E6E;
}

.order-total__content {
  padding: 30px 1.25rem;
  display: flex;
  flex-direction: column;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.order-total__goods-header,
.order-total__row-promo {
  margin-bottom: 1.25rem;
}

.order-total__row-deliviry {
  border-bottom: solid 1px #C8C8C8;
  padding-bottom: 1.25rem;
}

.order-total__row-discount,
.order-total__row-stock {
  margin-bottom: 0.5rem;
}

.order-total__row-goods,
.order-total__row-discount,
.order-total__row-deliviry,
.receipt-goods__desc-header {
  font-size: 1.25rem;
}

.order-total__row-stock,
.order-total__row-promo {
  font-size: 1rem;
}

.receipt-goods {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0;
  border-bottom: 1px solid #C8C8C8;
}

.receipt-goods__desc {
  display: flex;
  flex-direction: column;
}

.receipt-goods__desc-terms {
  font-size: 0.75rem;
  color: #6E6E6E;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  width: 34px;
  height: 14px;
  background-color: rgba(200, 200, 200, 0.5);
  display: block;
  border-radius: 17px;
  position: relative;
  mix-blend-mode: normal;
  left: calc(50% - 17px + 3.5px);
  top: calc(50% - 7px + 0.5px);
}

label:after {
  content: "";
  position: absolute;
  top: calc(50% - 11px);
  left: -5px;
  width: 22px;
  height: 22px;
  background-color: #6E6E6E;
  border-radius: 11px;
  transition: 0.3s;
}

input:checked + label:after {
  left: calc(100% + 5px);
  transform: translateX(-100%);
  background: #000000;
}

.receipt-goods__toggle {
  display: flex;
  position: relative;
  top: -5px;
}

.total-cost {
  display: flex;
  justify-content: space-between;
  font-size: 1.75rem;
  margin: 1.25rem 0;
}

.promo-field {
  padding: 0.625rem;
  outline: none;
  border: 1px solid #C8C8C8;
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

.promo-field::-moz-placeholder {
  color: #6E6E6E;
  font-size: 1rem;
}

.promo-field:-ms-input-placeholder {
  color: #6E6E6E;
  font-size: 1rem;
}

.promo-field::placeholder {
  color: #6E6E6E;
  font-size: 1rem;
}

.btn-order {
  background-color: #000000;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.9375rem;
}

.policy {
  margin-top: 0.625rem;
  text-align: center;
  color: #6E6E6E;
  font-size: 0.875rem;
  width: 360px;
}

.policy__link {
  color: inherit;
}

.good-card {
  padding: 25px 0;
  display: flex;
}

.good-card__foto {
  margin-right: 1.25rem;
}

.good-card__img {
  max-width: 8.125rem;
  max-height: 10rem;
}

.good-card__desc {
  max-width: 197px;
}

.good-card__desc-header {
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.articul {
  margin-bottom: 10px;
}

.articul__number,
.articul__header,
.season__header,
.season__number {
  font-size: 0.75rem;
}

.articul__header,
.season__header {
  color: #6E6E6E;
  margin-right: 5px;
}

.size {
  display: flex;
}

.size__item {
  list-style-type: none;
  width: 30px;
  height: 30px;
  background-color: #F1F1F1;
  font-size: 0.75rem;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.size__item--hover {
  transition: 0.3s;
}

.size__item--hover:hover {
  background-color: #000000;
  color: #FFFFFF;
  transition: 0.3s;
}

.size__item:not(last-child) {
  margin-right: 5px;
}/*# sourceMappingURL=style.css.map */